@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:400,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,700,700i");

* {
  font-family: "Fira Sans", sans-serif;
  color: #383838;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #fefefe;
  margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: bold;
}

/* Navbar Overrides */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 4px solid #17a2b8;
}

a.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-item:hover {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand > i {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  border-top: 4px solid #343a40;
  padding: 10px 15px;
  padding-bottom: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #17a2b8;
  border-top: 4px solid #343a40;
}

.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
  color: #17a2b8;
  border-top: 4px solid #343a40;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #383838;
  background-color: #fefefe;
  border-top: 4px solid #17a2b8;
}

.navbar-toggler {
  color: #17a2b8 !important;
  border: 0 none;
  font-size: 1.5rem;
}

/* List-group + Nav Overrides */

.list-group-item.nav-item {
  padding: 0;
}

.list-group-item .nav-link {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
}

.list-group-item .nav-link.active {
  background-color: #17a2b8;
  color: #fff !important;
}

/* Card Overrides */

.card .card-header {
  font-weight: bold;
}

/* Media Object */

.media-body {
  font-size: 0.9rem;
}

/* Buttons Overrides */

.btn {
  text-transform: uppercase;
  padding: 0.575rem 1.75rem;
}

/* Custom CSS */

.posts-icon {
  font-size: 30px;
}

td.no-stretch {
  width: 1%;
  white-space: nowrap;
}

table.table-posts td {
  vertical-align: middle !important;
}

th > h5 {
  margin: 0;
}

/* table.table-posts tbody tr:hover {
  background-color: #fff;
} */
